/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --logo-color: #ffc2e6;
  --text-color: #353430;
  --title-color: #353430;
  --subtitle-color: #353430;
  --button-color: #353430;
  --decorated-zone-color: #353430;

  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --logo-color: #ffc2e6;
    --text-color: #353430;
    --title-color: #353430;
    --subtitle-color: #353430;
    --button-color: #353430;
    --decorated-zone-color: #353430;

    --rec-visibility: hidden;
  }
}
