/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  background: var(--bg-image) no-repeat center / cover;
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding-inline: 10px;
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  display: flex;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 138.889%;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  inline-size: 10px;
  block-size: 10px;
  margin-block: auto;
  margin-inline: 10px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  padding-block: 2px;
  color: var(--accent-color);
  line-height: var(--line-height-small);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, currentColor 40%, transparent);
  outline-offset: 1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  outline-offset: 1px;
  pointer-events: none;
}

.page-title {
  color: var(--logo-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--line-height-large);
  text-align: left;
}

.accent-text-shadow-4px {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  align-self: center;
  color: var(--subtitle-color);
  font-weight: var(--font-weight-bold);
  text-align: left;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

/*main*/
.main {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.content {
  display: grid;
  gap: 20px;
}

.content__article {
  display: grid;
  gap: 10px;
}

.content__title {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  text-align: left;
}

.content__subtitle {
  color: var(--subtitle-color);
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  text-align: left;
  background-color: var(--accent-color);
}

.content__subtitle--level-2 {
  color: var(--subtitle-color);
  font-weight: inherit;
  background-color: var(--accent-color);
}

.content__text {
  color: var(--text-color);
  text-align: left;
}

.content__link {
  border-block-end: 1px solid transparent;
  text-decoration: none;
}

.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.content__gallery {
  display: grid;
  gap: 10px;
}

.content__image {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  place-items: center;
  padding-inline: 10px;
  padding-block: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.accent-text-shadow-2px {
  text-shadow: 2px 2px 0 var(--accent-color);
}
